<table width="604" cellspacing="0" cellpadding="0" border="0" align="center">
   <tbody>
      <tr>
         <td>
            <table width="604" cellspacing="0" cellpadding="0" border="0" style="color:#484848;border:5px solid #efefef">
               <tbody>
                  <tr>
                     <td valign="top" style="font-family:'Segoe UI',Arial,sans-serif;font-size:12px;padding:10px">
                        <p>Nadawca: <strong style="color:#231f20">{{ contact.name }}</strong></p>
                        <p>Adres e-mail: <a target="_blank" href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
                        <p>Temat: <strong style="color:#231f20">{{ contact.subject }}</strong></p>
                        <p>Wiadomość:<br><br>
                            {{ contact.message|nl2br }}
                        </p>
                        <p>Pozdrawiamy,<br>Dobra Psychoterapia</p>
                     </td>
                  </tr>
               </tbody>
            </table>
            <table width="604" cellspacing="0" cellpadding="0" border="0" style="font-family:'Segoe UI',Arial,sans-serif;font-size:11px;color:#919191">
               <tbody>
                  <tr>
                     <td align="left">
                        <p style="margin:11px 0">
                           <a target="_blank" style="color:#484848;text-decoration:none" title="Regulamin" href="http://dobrapsychoterapia.net/regulamin">Regulamin</a> &nbsp; | &nbsp;
                           <a target="_blank" style="color:#484848;text-decoration:none" title="Zwroty" href="http://dobrapsychoterapia.net/kontakt">Kontakt</a> &nbsp; | &nbsp;
                           <a target="_blank" style="color:#484848;text-decoration:none" title="Reklamacje" href="http://dobrapsychoterapia.net/aktualnosci">Aktualności</a> &nbsp; | &nbsp;
                           <a target="_blank" style="color:#484848;text-decoration:none" title="FAQ" href="http://dobrapsychoterapia.net/zamowienia">Status zamówienia</a>
                        </p>
                     </td>
                     <td width="30%" align="right">
                        <p style="margin:11px 0">&copy; 2012 Dobra Psychoterapia</p>
                     </td>
                  </tr>
                  <tr>
                     <td align="center">
                        <p><strong>Dobra Psychoterapia</strong><br><a target="_blank" href="http://www.dobrapsychoterapia.net">www.dobrapsychoterapia.net</a></p>
                     </td>
                  </tr>
               </tbody>
            </table>
         </td>
      </tr>
   </tbody>
</table>